NODE_ENV=development
PORT=3000

DB_HOST=127.0.0.1
DB_PORT=15432
DB_USER=postgres
DB_PASSWORD=TU_CONTRASEÑA_AQUI
DB_NAME=animap
DB_SSL=false

MONGO_URI=mongodb://127.0.0.1:27017
MONGO_DB_NAME=animap

JWT_ACCESS_SECRET=animap_access_secret_dev
JWT_REFRESH_SECRET=animap_refresh_secret_dev
ACCESS_TOKEN_TTL= 30m
REFRESH_TOKEN_TTL_DAYS=7
CORS_ORIGIN=*

MAIL_HOST=smtp.gmail.com
MAIL_PORT=
MAIL_SECURE=false
MAIL_USER=animapoficial@gmail.com
MAIL_PASS=
MAIL_FROM=