NODE_ENV=development
PORT=3000

DB_HOST=127.0.0.1
DB_PORT=15432
DB_USER=postgres
DB_PASSWORD=TU_CONTRASEÑA_AQUI
DB_NAME=animap
DB_SSL=false

MONGO_URI=mongodb://127.0.0.1:27017
MONGO_DB_NAME=animap

JWT_ACCESS_SECRET=GENERA_UN_SECRET_SEGURO
JWT_REFRESH_SECRET=GENERA_OTRO_SECRET_SEGURO
ACCESS_TOKEN_TTL= 30m
REFRESH_TOKEN_TTL_DAYS=7
CORS_ORIGIN=*

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_SECURE=false
MAIL_USER=animapoficial@gmail.com
MAIL_PASS=TU_CONTRASEÑA_DE_APLICACIÓN_DE_GMAIL
MAIL_FROM=AniMap <animapoficial@gmail.com>